/* 07.01. Page Title CSS */

.page-title-section {
    position: relative;
    height: 530px;
    display: flex;
    align-items: center;
    z-index: 9;
    flex-direction: column;
    justify-content: center;
    // Responsive
    @media #{$laptop-device, $desktop-device, $tablet-device}{
        height: 400px;
    }
    @media #{$large-mobile}{
        height: 350px;
    }
}

.page-title {
    & .title {
        font-size: 28px;
        line-height: 1.2;
        color: $white;
        margin: 0;
        text-align: center;
        @media #{$desktop-device} {
            font-size: 42px;
        }
        @media #{$tablet-device} {
            font-size: 34px;
        }
        @media #{$large-mobile} {
            font-size: 23px;
            line-height: 1.5;
        }
    }
}
